{
    "swagger": "2.0",
    "info": {
      "title": "SVG to PNG",
      "description": "Screen capture and encode SVG chart as Base64 PNG image in headless browser.",
      "version": "0.0.1"
    },
    "host": "svg2png.sugarcrm.com:9494",
    "schemes": [
      "https"
    ],
    "basePath": "/v1",
    "consumes": [
      "application/json"
    ],
    "produces": [
      "text/plain"
    ],
    "paths": {
      "/image": {
        "post": {
          "summary": "Capture chart image",
          "description": "Use PhantomJS to render a dynamically formatted SVG chart written in D3, then capture as an PNG image encoded in Base64.",
          "tags": [
            "Chart"
          ],
          "parameters": [
            {
              "name": "body",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ImageRequest"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Base64 encoded image",
              "schema": {
                "$ref": "#/definitions/ImageResponse"
              }
            },
            "default": {
              "description": "Unexpected error",
              "schema": {
                "$ref": "#/definitions/Error"
              }
            }
          }
        }
      }
    },
    "definitions": {
      "ImageResponse": {
        "type": "string",
        "format": "string",
        "description": "Base64 encoded image"
      },
      "ImageRequest": {
        "type": "object",
        "description": "POST parameters",
        "properties": {
          "CHART_CONFIG": {
            "type": "object",
            "description": "Chart configuration methods keys and values",
            "required": ["type"],
            "properties": {
              "type": {
                "type": "string",
                "format": "string",
                "description": "the chart model type"
              },
              "colorData": {
                "type": "string",
                "description": "the color definition procedure",
                "default": "default",
                "format": "string"
              },
              "showTitle": {
                "type": "boolean",
                "description": "to show the chart title or not",
                "default": true,
                "format": "string"
              }
            }
          },
          "REPORT_DATA": {
            "type": "object",
            "description": "Report datat to visualize",
            "properties": {
              "properties": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "format": "string"
                  }
                }
              },
              "data": {
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "Data series",
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "values": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "x": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "y": {
                            "type": "number",
                            "format": "float"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
            "code": {
              "type": "integer",
              "format": "int32"
            },
            "message": {
              "type": "string"
            },
            "fields": {
              "type": "string"
            }
        }
      }
    }
}
